@import '../../node_modules/materialize-css/dist/css/materialize.min.css';
@import './spinner.scss';
$shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
$simpleShadow: 10px 10px rgba(0,0,0,0.87);

body {
    //background-image: linear-gradient(90deg,#fff,#f2f2f2);
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;
   
    background: #f2f2f2;
    background-image: linear-gradient(rgba(255, 255, 255, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .7) .1em, transparent .1em);
    background-size: 3em 3em;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 1;
}

nav {
    border-radius: 25px;
    background-color:rgba(255, 255, 255, 0);
    border: 1px solid #1565c0;
    box-shadow: none;
}

nav li a {
    color: rgba(0,0,0,0.87);
    font-size: 24px;
    font-weight: 700;
}

input {
    border-bottom: 1px solid rgba(0,0,0,0.42) !important;
}

input::placeholder {
    color: rgba(0,0,0,0.87);
}

.brand-logo {
    color: rgba(0,0,0,0.87) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.btn, .btn-large, .btn-small {
    background-color: #1565c0;
    &:hover {
        background-color: #1976d2;
    }
}

.col {
    padding: 20px !important
}

.termsAgreed_checkbox {
    opacity: 1 !important;
}

.MuiSelect-select {
    width: 200px !important;
}

.custom-nav-wrapper {
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
}

.custom-nav-container {
    margin: 20px;
}

.addForm-container {
    width: 80%;
    margin: auto;
    border-radius: 25px;
    padding: 100px;
    background-color: #fff;
}

select {
    display: block !important;
}

.searchbar-container, .content-container, .bundleContent-container,
.bundleCreator-itemList, .bundleCreator-form, .bundle, .selectedBundle, .item
{
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    box-shadow: $shadow;
}

.bundle, .selectedBundle {
    height: 100px;
    cursor: pointer;
}

.selectedBundle, .item {
    box-shadow: none;
    border: 1px solid #1565c0;
}

.item {
    height: 200px;
}

.searchbar-container, .content-container, .bundleContent-container,
.bundleCreator-itemList, .bundleCreator-form {
    height: 100vh;
}

.bundleContent-container {
    width: 100%;
    margin: auto;
}

.loginForm-container, .registerForm-container {
    width: 50%;
    margin: 100px auto 100px auto;
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    box-shadow: $shadow;
}

.bundleList-Container {
    margin: 0px 20px 0px 20px;
    border: 1px solid #1565c0;
    border-radius: 25px;
}

.bundleList-newBundleButton {
    width: 56px;
    margin: 20px auto 20px auto;
}

.notificationBox, .notificationBox-large {
    width: 200px;
    margin: 20px auto 20px auto;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background: yellow;
    box-shadow: $simpleShadow;
}

.notificationBox-large {
    width: 400px;
}

.notificationBox a {
    color: rgba(0,0,0,0.87);
    text-decoration: underline;
    &:hover {
        color: #fff;
        background-color: #1976d2;
    }
}

.notificationBox-error {
    width: 400px;
    margin: 20px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: red;
    background: cyan;
    box-shadow: $simpleShadow;
}

.spinnerContainer {
    width: 80px;
    margin: 20px auto 20px auto;
}





