{% extends 'base.html.twig' %}

{% block body %}
  <div class="registerForm-container">
    {{  form_start(form) }}

    {{ form_widget(form) }}
    
    {{ form_end(form) }}
    </div>
    <div class="notificationBox">
        Jau užsiregistravę? <a href="{{ path('security_login')}}">Prisijunkite!</a>
    </div>
{% endblock %}