<div class="content-container">
    Content
         {% for item in items %}
            <a href="{{ path('bundle', {'id': item.id}) }}">
                {{ include('items/bundle.html.twig', {'item': item}) }}
            </a>     
        {% endfor %}
</div>