<div class="content-container">
    Content
         {% for bundle in bundles %}
            <a href="{{ path('bundle', {'id': bundle.id}) }}">
                {{ include('items/bundle.html.twig', {'bundle': bundle}) }}
            </a>     
        {% endfor %}
</div>